
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
.Header{
    background-color: black;
}

.Navbar_List{
    list-style: none;
        .List__items{
            color: white;
            display: inline-block;
            padding: 10px 20px;
            margin: 10px 20px;
            background-color: orange;
            border-radius: 10px;
            a{
                cursor: pointer;
            }
        }
}
.MainMenu{
    height: 500px;
    position: relative;
    .left{
        float: left;
        width: 70%;
        height: 100%;
        position: relative;
        .btn__save{
            border-radius: 5px;
            padding: 5px 10px;
            position: absolute;
            left: 50%;
            bottom: 0;
        }
    }
    .right{
        float: left;
        width: 30%;
        height: 100%;
    }
}