.icon-Furniture {
  background-color: #cbcbce;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #999;
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
  line-height: 45px;
  cursor: default;
}

.drag {
  cursor: move;
}
